$align: left;
$bg-color: #1a1a1a; // Preto suave para o fundo
$color-primary: #9b59b6; // Lilás principal
$color-secondary: #8e44ad; // Lilás mais escuro para contraste
$color-accent: #e8daef; // Lilás claro para destaques
$color-text: #ffffff; // Branco para texto legível no fundo escuro
$color-subtle: #444; // Tons sutis para detalhes
$color-default: #e8daef;
$color-01:#9b59b6;
$font-big: 3rem;
$font-medium: 2.2rem;
$font-normal: 1.5rem;
$font-small: 1.2rem;
$font-family-default: 'Arial', Helvetica, sans-serif;
$mb: 1.5rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 1.5rem;